# Environment-specific files
.env
credentials.json

# Dependencies
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# Operating system files
.DS_Store

# Editor directories and files
.vscode/
.idea/
*.swp
